################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQProducer/obj
/RabbitMQProducer/bin/Debug/net6.0
/RabbitMQConsumer/obj
/RabbitMQConsumer/bin/Debug/net6.0
/.vs/RabbitMQSample/v17
